<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Hospital</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" th:href="@{/}">Home</a>
            <a class="p-2 text-dark" th:href="@{/people}">People</a>
            <a class="p-2 text-dark" th:href="@{/diagnoses}">Diagnoses</a>
            <a class="p-2 text-dark" th:href="@{/wards}">Wards</a>
            <a sec:authorize="hasAnyRole('ADMIN', 'DOCTOR')" class="p-2 text-dark" th:href="@{/users}">Users</a>
        </nav>
        <div sec:authorize="!isAuthenticated()">
            <a id="loginBut" class="btn btn-outline-primary" th:href="@{/login}">Sign in</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a id="logoutBut" class="btn btn-outline-primary" th:href="@{/logout}">Sign out</a>
        </div>
    </div>
</div>
